<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{pageTitle}} page</title>
</head>
<body>
  {{>header}}

    <p>{{screamIT welcomeMsg}}  the site is down due to maintenance</p>

  {{>footer}}
</body>
</html>
